.CommentSection {
    margin: 0 20px;

    input {
        box-sizing: border-box;
        border: none;
        border-top: 1px solid #ddd;
        width: 100%;
        text-align: start;
        padding: 30px 10px;
        font-size: 1rem;
    }
}