.PostContainer {
    width: 640px;
    border: 1px solid #ddd;
    margin: 50px auto;

    .PostHeader {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            border-radius: 100px;
            margin: 20px;
        }

    }

    .likecom {
        margin:  5px 15px;
    }

    .Likes {
        margin: 5px 20px;
    }

    input {
        border: none;
        border-top: 1px solid #ddd;
        margin: 20px 10px 0;
        width: 590px;
        text-align: start;
        padding: 20px 10px;
        font-size: 1rem;
    }
}